<ul id="slide-out" class="navbar-fixed side-nav fixed grey darken-4 ">
  <li>
    <br>
    <img class="circle profileimage center-block" src="../assets/images/logo">
    <a class="content center-align" href="#!name"><span class="naam big white-text">Raphaël Bunck</span></a>
    <h6 class="undertitle grey-text center-align">Technical Computing Student</h6>
  </li>
  <br>
  <br>
  <br>
  <li><a class="waves-effect" href="#home"><i class="material-icons">home</i>Home</a></li>
  <li><a class="waves-effect" href="#projects"><i class="material-icons">code</i>Projects</a></li>
  <li><a class="waves-effect" href="#education"><i class="material-icons">local_library</i>Education</a></li>
  <li><a class="waves-effect" href="#"><i class="material-icons">mail</i>Contact</a></li>


</ul>
<nav class="navbar-fixed hide-on-large-only">
  <a href="#" data-activates="slide-out" class="menubutton button-collapse show-on-large"><i
    class="material-icons">menu</i></a>
</nav>

<div class="content">
  <div id="home" class="parallax-container parralaximage section scrollspy">
    <div class="parallax"><img src="../assets/images/bastei-bridge-3014467.jpg"></div>
  </div>
  <div class="row container">
    <h1 class="center-align title">Raphaël Bunck</h1>
    <img style="display: block;
    margin: 0 auto;" src="https://d30y9cdsu7xlg0.cloudfront.net/png/42732-200.png">
    <p class="center">Work in progress...</p>
    <p class="center"><a class="black-text" href="#projects"><i class="textpulse downarrow material-icons"
                                                                aria-hidden="true">keyboard_arrow_down</i></a></p>


  </div>
  <div class="parallax-container parralaximage">
    <div class="parallax"><img src="../assets/images/waterfall-3022509_1920.jpg"></div>
  </div>
  <div id="projects" class="section scrollspy">
    <div class="row container">
      <h1 class="center-align title">Projects</h1>
    </div>
  </div>
  <div class="parallax-container parralaximage">
    <div class="parallax"><img src="../assets/images/river-1740973_1920.jpg"></div>
  </div>
  <div id="education" class="section scrollspy">
    <div class="row container">
      <h1 class="center-align title">Education</h1>
    </div>
  </div>
  <div class="parallax-container parralaximage">
    <div class="parallax"><img src="../assets/images/within-the-schladminger-tauern-3022368.jpg"></div>
  </div>
  <router-outlet></router-outlet>
  <app-messages></app-messages>
</div>



